[submodule "ibot"]
	path = ibot
	url = https://github.com/bytedance/ibot.git
[submodule "dinov2"]
	path = dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "mae"]
	path = mae
	url = https://github.com/facebookresearch/mae.git
