[submodule "ibot"]
	path = ibot
	url = https://github.com/bytedance/ibot.git
[submodule "dinov2"]
	path = dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "masked-autoencoder"]
	path = masked-autoencoder
	url = https://github.com/bwconrad/masked-autoencoder.git
